h73{
font-family: 'Elvish Ring NFI';
src: url('https://ssukla.github.io/font/ElvishRingNFI.woff2') format('woff2'),
url('https://ssukla.github.io/font/ElvishRingNFI.woff') format('woff');
font-weight: 100;
 font-style: normal;
font-display: swap;
}

