@font-face {
  font-family: myFirstFont;
  src: url(https://ssukla.github.io/font/PiecesNFI.woff);
}

h95 {
  font-family: myFirstFont;
}

@font-face {
  font-family: benimilkfontum;
  src: url(https://ssukla.github.io/font/ElvishRingNFI.woff);
}

73 {
  font-family: benimilkfontum;
}
